bin/Debug/net6.0/mj-service.dll
bin/Debug/net6.0/mj-service.exe
bin/Debug/net6.0/mj-service.pdb
obj/mj-service.csproj.nuget.dgspec.json
obj/mj-service.csproj.nuget.g.props
obj/mj-service.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/mj-service.AssemblyInfo.cs
obj/Debug/net6.0/mj-service.assets.cache
obj/Debug/net6.0/mj-service.csproj.AssemblyReference.cache
obj/Debug/net6.0/mj-service.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/mj-service.csproj.FileListAbsolute.txt
obj/Debug/net6.0/mj-service.dll
obj/Debug/net6.0/mj-service.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/mj-service.genruntimeconfig.cache
obj/Debug/net6.0/mj-service.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/mj-service.pdb
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/ref/mj-service.dll
obj/Debug/net6.0/refint/mj-service.dll
